<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2bc93">  <td>21/07/22 21:04:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Exigence06.Returning()[pri:0, instance:Final.Exigence06@7674b62c]">Returning</td> 
  <td>main@286649365</td>   <td></td> </tr>
<tr bgcolor="a2bc93">  <td>21/07/22 21:05:13</td>   <td>13417</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Exigence06.afterClass()[pri:0, instance:Final.Exigence06@7674b62c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@286649365</td>   <td></td> </tr>
<tr bgcolor="a2bc93">  <td>21/07/22 21:04:58</td>   <td>-1665</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Exigence06.beforeClass()[pri:0, instance:Final.Exigence06@7674b62c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@286649365</td>   <td></td> </tr>
</table>
